:root {
    --base-bg: #DADAD9;
    --bg-font: #161612;
    --base-fg: #36382E;
    --base-fg-transparent: #1b1d1f93;
    --base-fg-transparent-hover: #0d1115e4;
    --fg-font: #EDE6E3;
    --base-accent: #db573c;
    --base-font: #36382E;
    --text-shadow: black;
    --box-shadow: rgba(55, 54, 54, 0.568);
    --modal-bg: rgba(234, 235, 236, 0.933);
    --modal-font: rgb(19, 19, 16);
    --red: #ef7171;
    --dark-red: #a85454;
    --dark-green: #519751;
    --green: #73cc73;
    /*margins*/
    --main-margin: 50px;
}
:root.dark {
    --base-bg: #262622;
    --bg-font: #EDE6E3;
    --base-fg: #a6aeb4;
    --base-fg-transparent: #c3daea9d;
    --base-fg-transparent-hover: #cddfecfc;
    --fg-font: #2c281b;
    --base-accent: #f12c1e;
    --base-font: #EDE6E3;
    --text-shadow: rgb(205, 195, 195);
    --box-shadow: rgba(25, 22, 22, 0.791);
    --modal-bg: rgba(14, 23, 26, 0.933);
    --modal-font: rgb(213, 211, 201);
    --red: #d53d3d;
    --dark-red: #9b0d0d;
    --dark-green: rgb(14, 129, 14);
    --green: rgb(30, 146, 30);

}

/* a:visited {
    color: var(--visited);
} */

.material-symbols-outlined {
    transition: 200ms;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: Playwrite England;
    src: url("../Assets/fonts/playwritegbs-variablefont_wght-webfont.woff2") format("woff2"),
        url("../Assets/fonts/playwritegbs-variablefont_wght-webfont.woff") format("woff"),
        url("../Assets/fonts/PlaywriteGBS-VariableFont_wght.ttf") format("ttf");
}
@font-face {
    font-family: "Open Sans";
    src: url("../Assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("ttf");
}

.fit-content {
    width: fit-content;
}

html {
    font-family:'Open Sans',
                system-ui, 
                -apple-system, 
                BlinkMacSystemFont, 
                'Segoe UI', 
                Roboto, Oxygen, 
                Ubuntu, 
                Cantarell, 
                'Helvetica Neue', 
                sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
}

img {
    display: block;
}

body {
    background-color: var(--base-bg);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 100dvw;
    min-height: 100dvh;
    transition: background-color 200ms ease-in-out;
}

header {
    /* outline: 1px solid green; */
    width: calc(100% - 20px);
    background: var(--base-fg);
    color: var(--fg-font);
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px 10px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 5px;
}




#header-h1-container {
    /* outline: 1px solid green; */
    margin: 10px auto 0 0;
    font-family: "Playwrite England";
    font-size: .9em;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
    text-wrap: nowrap;
}

#theme-checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}
#theme-checkbox-label {
    /* outline: 1px solid red; */
    align-self: center;
    margin-right: 3%;
    min-height: 60px;
    min-width: 60px;
    color: var(--fg-font);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#theme-checkbox-label:hover {
    #theme-checkbox-span {
        font-size: 3em;
        color: var(--base-accent);
    }
}
#theme-checkbox-span {
    font-size: 2.5em;
}


#header-h1 {
    padding: 0;
    margin: 0;
}

.header-logo {
    padding: 2px;
    display: flex;
    align-items: center;
}

.header-logo img {
    padding: 0;
    margin: 0 0 5px 0;
}
#motto-container {
    /* outline: 1px solid yellow; */
    margin-left: 10px;
    margin-right: auto;
    display: flex;
    align-items: first baseline;
    justify-content: center;
}
#header-vertical-bar {
    height: 30px;
    background-color: var(--base-accent);
    width: 1px;
    align-self: center;
    margin-right: 10px;
}


main {
    /* outline: 1px solid red; */
    color: var(--bg-font);
    width: calc(100% - var(--main-margin));
    height: 100%;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 2% 2% 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

nav#toolbar {
    /* outline: 1px solid rgb(78, 156, 47); */
    width: 80%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--base-fg);
}

.material-symbols-outlined-btn {
    outline: 1px solid rgb(255, 204, 0);
    color: var(--bg-font);
    background: none;
    border: none;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}
.material-symbols-outlined-btn:hover .material-symbols-outlined {
    color: var(--base-accent);
        font-size: 2.5em;
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}
.material-symbols-outlined-btn:last-of-type {
    margin-left: 30px;
}

section#library-container {
    /* outline: 1px solid purple; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-columns: 340px;
    column-gap: 16px;
    row-gap: 32px;
    width: 100%;
    min-height: 900px;
    padding: 10px;
    align-items: start;
    justify-content: space-around;
}

.book-card {
    background: var(--base-fg);
    height: 320px;
    width: 220px;
    color: var(--fg-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms ease-in-out, outline 500ms ease-in-out;
    box-shadow: 5px 10px 10px var(--box-shadow);
    margin-left: auto;
    margin-right: auto;
    
}
.book-card:hover {
    transform: scale(1.09);
    box-shadow: 5px 10px 30px var(--box-shadow);
    outline: 2px solid var(--base-accent);
    img.book-cover-img {
        filter: grayscale(0);
    }
    .book-info-container {
        background-color: var(--base-fg-transparent-hover);
    }
}

img.book-cover-img {
    box-shadow: inset 0px 0px 20px 10px rgba(12, 13, 17, 0.767);
    filter: grayscale(100);
    position: absolute;
    border-radius: 10px;
    z-index: 9;
    transition: filter 200ms ease-in-out;
}

.book-info-container {
    z-index: 10;
    background-color: var(--base-fg-transparent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: 0 0 5px var(--text-shadow);
    transition: background-color 200ms ease-in-out;
}

.book-title {
    margin: 0;
}

dialog#modal-container {
    outline: 1px solid red;
    padding: 20px;
    width: 600px;
    background-color: var(--modal-bg);
    border-radius: 5px;
    border: 2px solid var(--base-fg);
    color: var(--modal-font);
    position: absolute;
    top: 30dvh;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

#modal-header {
    outline: 1px solid rgb(255, 0, 195);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#modal-heading-container {
    outline: 1px solid red;
    width: max-content; 
}
#modal-title {
    margin: 0;
    width: 40%;
    outline: 1px solid yellow;
}
#modal-description {
    margin-left: 10px;
    font-style: italic;
    outline: 1px solid blue;
}
#close-modal-btn {
    outline: 1px solid green;
    color: var(--modal-font);
    align-self: flex-start;
}
#modal-toolbar button {
    margin: 5px;
}

#modal-form-container {
    outline: 1px solid yellow;
    width: 100%;
}

#modal-buttons-container {
    outline: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
}
.form-wrapper {
    outline: 1px solid blue;
    width: 50%;
    margin: 15px auto 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.modal-form-label {
    outline: 1px solid rgb(49, 200, 49);
    margin-left: auto;
    margin-right: 10px;
    font-size: 1.1em;

}
.modal-form-input {
    outline: 1px solid rgb(158, 13, 202);
    width: 200px;
    justify-self: flex-end;
    border-radius: 5px;
    padding: 5px 8px;
}

.modal-btn {
    margin: 8px;
    width: 100px;
    padding: 10px 5px;
    color: var(--bg-font);
    font-weight: bolder;
    cursor: pointer;
    border-radius: 10px;
    transition: border 30ms ease-out;
}

.modal-btn:hover {
    outline: 3px solid var(--base-accent);
}

#modal-cancel-btn {
    background-color: var(--red);
    /* box-shadow: 0px 3px 0px var(--dark-red),
                3px 0px 0px var(--dark-red),
                -3px 0px 0px var(--dark-red); */
    border-bottom: 7px solid var(--dark-red);
    border-right: 3px solid var(--dark-red);
    border-left: 3px solid var(--dark-red);
    border-top: none;
}

#modal-cancel-btn:active {
    padding-top: 10px;
    padding-bottom: 12px;
    background-color: var(--red);
    border-bottom: 3px solid var(--red);
    border-right: 3px solid var(--red);
    border-left: 3px solid var(--red);
    border-top: 3px solid var(--red);
}

#modal-submit-btn {
    background-color: var(--green);
    /* box-shadow: 0px 3px 0px var(--dark-red),
                3px 0px 0px var(--dark-red),
                -3px 0px 0px var(--dark-red); */
    border-bottom: 7px solid var(--dark-green);
    border-right: 3px solid var(--dark-green);
    border-left: 3px solid var(--dark-green);
    border-top: none;
}

#modal-submit-btn:active {
    padding-top: 10px;
    padding-bottom: 12px;
    background-color: var(--green);
    border-bottom: 3px solid var(--green);
    border-right: 3px solid var(--green);
    border-left: 3px solid var(--green);
    border-top: 3px solid var(--green);
}

footer {
    /* outline: 1px solid blue; */
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    min-height: 100px;
    background-color: var(--base-fg);
    color: var(--fg-font);
}

@media screen and (max-width: 800px) {
    #motto-container {
        display: none;
    }
    #header-h1 {
        margin-bottom: 13px;
    }
    section#modal-container {
        width: 80dvw;
    }
    .modal-form-label {
        display: none;
    }
    .modal-form-input {
        width: 80%;
    }
    .form-wrapper {
        width: 100%;
        justify-content: center;
    }
}
@media screen and (max-width: 340px) {
    #header-h1 {
        font-size: 1em;
        text-wrap: wrap;
    }
}
@media screen and (max-width: 230px) {
    #header-h1 {
        display: none;
    }
}